In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Custom Owner Metadata Dictionary

owners_dict = {"owner_id": [1, 2, 3, 5, 6, 7, 8, 9, 11, 12],
               "owner_name": ["Zwick", "Treshansky", "Lirtzman", "Klein", "Rosenberg", "Katz", "J.Stein", "Berkowitz", 
                              "Kogan", "B.Stein/Kaminski"]}

owners_df = pd.DataFrame(owners_dict)
owners_df

   owner_id        owner_name
0         1             Zwick
1         2        Treshansky
2         3          Lirtzman
3         5             Klein
4         6         Rosenberg
5         7              Katz
6         8           J.Stein
7         9         Berkowitz
8        11             Kogan
9        12  B.Stein/Kaminski

In [3]:
#Additional Parameters for Pinging API

league_id = 470074
years = [2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [63]:
def build_matchups_df(years, owners_df, regular_season=True):
    '''Function for building out regular season data for DHS Alumni League
    :param years: list of years - can be single or multiple years, must be list
    :param owners_df: dataframe of owners and IDs. Column order is owner_id, owner_name.
    : return df: data frame of wins and losses'''
    
    matchups = pd.DataFrame()
    
    for year in years:
        if year != 2019:
            #Setting URL and cookie parameters
            url = "https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/" + str(league_id) + "?seasonId=" + str(year)
            swid = "{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}"
            espn_s2 = "AEB683YIFe%2B786%2BNKKZ2kKo05EAr4hqITemjED05C1hVaZmO5lvWwanduw64hL7sfOIclzgE2LcmmSoPM1WyS0IfZLKDG7gYc34Ig%2BrnwJr6tZ8uHYgKyplSEbGJCF0gieXa95jUvZugp4VViIVWHn9h%2FJ8qlfvwioLDqUJCh4Xf2E1FBm8v%2BzSMlKhABKJ85zFiWCDjE7bdTgDnAMLZ08WBns0w68zsG2vTe%2Ba70qnpQJo1DJsyhQmq9LwjNKiJCRxZ5F8NqFVsx%2B6S5K%2FtLaRC"

            #Hitting API and getting Matchup View
            r = requests.get(url, cookies={"swid": swid, "espn_s2": espn_s2}, params={"view": "mMatchup"})
            m = r.json()[0]

            game_lst = [[game['matchupPeriodId'], game['home']['teamId'], game['home']['totalPoints'],
                        game['away']['teamId'], game['away']['totalPoints'], year] for game in m['schedule']]

            matchups = matchups.append(game_lst, ignore_index=True)
        else:
            url = "https://fantasy.espn.com/apis/v3/games/ffl/seasons/" + str(year) + "/segments/0/leagues/" + str(league_id)
            swid = "{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}"
            espn_s2 = "AEB683YIFe%2B786%2BNKKZ2kKo05EAr4hqITemjED05C1hVaZmO5lvWwanduw64hL7sfOIclzgE2LcmmSoPM1WyS0IfZLKDG7gYc34Ig%2BrnwJr6tZ8uHYgKyplSEbGJCF0gieXa95jUvZugp4VViIVWHn9h%2FJ8qlfvwioLDqUJCh4Xf2E1FBm8v%2BzSMlKhABKJ85zFiWCDjE7bdTgDnAMLZ08WBns0w68zsG2vTe%2Ba70qnpQJo1DJsyhQmq9LwjNKiJCRxZ5F8NqFVsx%2B6S5K%2FtLaRC"
            #Hitting API and getting Matchup View
            r = requests.get(url, cookies={"swid": swid, "espn_s2": espn_s2}, params={"view": "mMatchup"})
            m = r.json()
            game_lst = [[game['matchupPeriodId'], game['home']['teamId'], game['home']['totalPoints'],
                    game['away']['teamId'], game['away']['totalPoints'], year] for game in m['schedule']]
            matchups = matchups.append(game_lst, ignore_index=True)
        
        
    matchups.columns = ["Week", "HomeTeam", "HomeScore", "AwayTeam", "AwayScore", "Year"]
    matchups["Type"] = ["Regular" if w <=14 else "Playoff" for w in matchups["Week"]]
    
    merged = pd.merge(matchups, owners_df, how="left", left_on="AwayTeam", right_on="owner_id")
    merged = merged.drop(["owner_id"], axis=1)
    merged = merged.rename(columns={"owner_name": "AwayTeamName"})
    merged = pd.merge(merged, owners_df, how="left", left_on="HomeTeam", right_on="owner_id")
    merged = merged.drop(["owner_id"], axis=1)
    merged = merged.rename(columns={"owner_name": "HomeTeamName"})
    
    merged["Winner"] = np.where(merged["HomeScore"] > merged["AwayScore"], merged["HomeTeamName"], merged["AwayTeamName"])
    merged["Loser"] = np.where(merged["HomeScore"] > merged["AwayScore"], merged["AwayTeamName"], merged["HomeTeamName"])
    
    
    
    if regular_season==True:
        regular_season = merged[merged["Type"] == "Regular"]
        df = regular_season
        return df
    else:
        df = merged
        return df

In [64]:
regular_season = build_matchups_df([2012,2013,2014,2015,2016,2017,2018,2019], owners_df, regular_season=True)

In [65]:
regular_season.head()

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,AwayTeamName,HomeTeamName,Winner,Loser
0,1,2,143.40,1,146.60,2012,Regular,Zwick,Treshansky,Zwick,Treshansky
1,1,12,146.46,3,107.60,2012,Regular,Lirtzman,B.Stein/Kaminski,B.Stein/Kaminski,Lirtzman
2,1,11,118.46,5,140.56,2012,Regular,Klein,Kogan,Klein,Kogan
3,1,9,139.98,6,128.00,2012,Regular,Rosenberg,Berkowitz,Berkowitz,Rosenberg
4,1,8,126.36,7,131.32,2012,Regular,Katz,J.Stein,Katz,J.Stein

In [66]:
regular_season.tail()

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,AwayTeamName,HomeTeamName,Winner,Loser
625,14,2,148.08,3,110.16,2019,Regular,Lirtzman,Treshansky,Treshansky,Lirtzman
626,14,8,142.00,6,145.52,2019,Regular,Rosenberg,J.Stein,Rosenberg,J.Stein
627,14,7,137.02,12,144.06,2019,Regular,B.Stein/Kaminski,Katz,B.Stein/Kaminski,Katz
628,14,1,122.16,11,137.14,2019,Regular,Kogan,Zwick,Kogan,Zwick
629,14,5,95.46,9,148.26,2019,Regular,Berkowitz,Klein,Berkowitz,Klein

In [68]:
regular_season["Winner"].value_counts()

Katz                66
Zwick               62
Berkowitz           61
J.Stein             59
Klein               58
Lirtzman            56
Treshansky          55
B.Stein/Kaminski    54
Rosenberg           53
Kogan               36
Name: Winner, dtype: int64

In [97]:
def get_total_wins_and_losses(df, years=[i for i in range(2012, 2020)]):
    '''Function for aggregating wins and losses by team by year'''
    totals = pd.DataFrame(columns = ["Wins", "Losses", "WinPct"])
    if len(years) == 1:
        mask = df["Year"] == min(years)
        df = df.loc[mask].copy()
        totals["Wins"] = df["Winner"].value_counts()
        totals["Losses"] = df["Loser"].value_counts()
        totals["WinPct"] = totals["Wins"] / (totals["Wins"] + totals["Losses"])
        return totals
    else:
        mask = (regular_season["Year"] >= min(years)) & (regular_season["Year"] <= max(years))
        df = df.loc[mask].copy()
        df = df[(df["Year"] >= min(years)) & (df["Year"] <= max(years))]
        totals["Wins"] = df["Winner"].value_counts()
        totals["Losses"] = df["Loser"].value_counts()
        totals["WinPct"] = totals["Wins"] / (totals["Wins"] + totals["Losses"])
        return totals

In [112]:
totals = get_total_wins_and_losses(regular_season)

In [113]:
totals

                  Wins  Losses    WinPct
Katz                66      46  0.589286
Zwick               62      50  0.553571
Berkowitz           61      51  0.544643
J.Stein             59      53  0.526786
Klein               58      54  0.517857
Lirtzman            56      56  0.500000
Treshansky          55      57  0.491071
B.Stein/Kaminski    54      58  0.482143
Rosenberg           53      59  0.473214
Kogan               36      76  0.321429