# DHS Alumni Fantasy Analytics

In this notebook, I'll aim to start with the following analyses for the DHSAlumni fantasy league:
- All-time records, and season by seaason records
- Plot a season by lucky vs unlucky records
- Best picks relative to draft position in any given year

In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Requesting data from DHSAlumni league starting with 2012

league_id = 470074
year = 2012
url = "https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/" + \
      str(league_id) + "?seasonId=" + str(year)

print(url)

https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/470074?seasonId=2012

In [3]:
#Setting swid and espn_s2 for our private league

swid = "{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}"
espn_s2 = "AEAZNuutax36J%2BmmE9X0oeTTRyhq0DrK2gcqVGB7Cxc75XXs4TJxz73ekvnJdz33IFF4fJXslPhu" + \
          "n7SEmT9Q4c%2Fv1jXfA%2B4Kl6scPVRUks%2B5xLpe4XvomcuqovBxd6ZoSDpzoMJ%2FpjoUsuzVf" + \
          "lGKkdgv6ZlBsl%2Bc7s3VgBprIHx6juy5SV9ac3PVT%2F5Su%2FAb51g7p60Ebxw6Qi%2FaGj%2B7Y8sq4sPlNsqW32UXk2xJJH" \
          "%2BP5%2B14PFH2ky%2BHeNwRewSBDMa3zsdLPlWnw9kbm6GLdvesu"

In [4]:
#requesting data from our private league

r = requests.get(url,
                 cookies={"swid": "{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}",
                          "espn_s2": "AEAZNuutax36J%2BmmE9X0oeTTRyhq0DrK2gcqVGB7Cxc75XXs4TJxz73ekvnJdz33IFF4fJXslPhu7SEmT9Q4c%2Fv1jXfA%2B4Kl6scPVRUks%2B5xLpe4XvomcuqovBxd6ZoSDpzoMJ%2FpjoUsuzVflGKkdgv6ZlBsl%2Bc7s3VgBprIHx6juy5SV9ac3PVT%2F5Su%2FAb51g7p60Ebxw6Qi%2FaGj%2B7Y8sq4sPlNsqW32UXk2xJJH%2BP5%2B14PFH2ky%2BHeNwRewSBDMa3zsdLPlWnw9kbm6GLdvesu"})

In [5]:
#Displaying basic data about our league
teams_info = r.json()[0]
teams_info

{'gameId': 1,
 'id': 470074,
 'members': [{'displayName': 'sklein414',
   'id': '{05A6DF7E-1741-4FDD-B375-419DEE85EC2D}',
   'isLeagueManager': False},
  {'displayName': 'JBerko11',
   'id': '{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}',
   'isLeagueManager': True},
  {'displayName': 'Lirtz18',
   'id': '{1C427F2E-81A6-461B-97D4-E9631B6B92BD}',
   'isLeagueManager': False},
  {'displayName': 'Greg6354',
   'id': '{50788F32-880C-424E-A4B2-8559A9870D3B}',
   'isLeagueManager': False},
  {'displayName': 'brad2186',
   'id': '{52D81102-758F-4AC0-8A7C-1FAE1B504238}',
   'isLeagueManager': False},
  {'displayName': 'aet015',
   'id': '{5D23DE4F-0131-46D4-B332-8AFFBBE4E4DB}',
   'isLeagueManager': False},
  {'displayName': 'pokeystein',
   'id': '{7D508B60-CD5E-4118-85D4-9A72AA063395}',
   'isLeagueManager': False},
  {'displayName': 'jrosenberg703',
   'id': '{A48B1E1D-476B-4877-AE6F-61EA9BEC38AC}',
   'isLeagueManager': False},
  {'displayName': 'TheZwick',
   'id': '{B815DE56-C961-43F8-B904-B82DC95C4F39}',
   'isLeagueManager': False},
  {'displayName': 'kogan4',
   'id': '{F570025D-D594-4A8B-B4EB-ABDC9F4F892D}',
   'isLeagueManager': False}],
 'scoringPeriodId': 16,
 'seasonId': 2012,
 'segmentId': 0,
 'settings': {'name': 'DHSAlumni'},
 'status': {'currentMatchupPeriod': 16,
  'isActive': True,
  'latestScoringPeriod': 18},
 'teams': [{'abbrev': 'ZWIC',
   'id': 1,
   'location': 'Kevan',
   'nickname': 'Barlow',
   'owners': ['{B815DE56-C961-43F8-B904-B82DC95C4F39}']},
  {'abbrev': 'TRES',
   'id': 2,
   'location': "That's",
   'nickname': 'My Bush',
   'owners': ['{5D23DE4F-0131-46D4-B332-8AFFBBE4E4DB}']},
  {'abbrev': 'BOOB',
   'id': 3,
   'location': 'Earlravius',
   'nickname': 'Nellums',
   'owners': ['{1C427F2E-81A6-461B-97D4-E9631B6B92BD}']},
  {'abbrev': 'KLEI',
   'id': 5,
   'location': 'Team',
   'nickname': 'Klein',
   'owners': ['{05A6DF7E-1741-4FDD-B375-419DEE85EC2D}']},
  {'abbrev': 'WOAH',
   'id': 6,
   'location': 'Lord',
   'nickname': 'Rosenberg',
   'owners': ['{A48B1E1D-476B-4877-AE6F-61EA9BEC38AC}']},
  {'abbrev': 'KATZ',
   'id': 7,
   'location': "Sippin' on some",
   'nickname': 'Cruzan ',
   'owners': ['{50788F32-880C-424E-A4B2-8559A9870D3B}']},
  {'abbrev': 'STEI',
   'id': 8,
   'location': 'Kogan is a Dog',
   'nickname': 'Shit Lawyer...',
   'owners': ['{7D508B60-CD5E-4118-85D4-9A72AA063395}']},
  {'abbrev': 'BERK',
   'id': 9,
   'location': 'The Muscle',
   'nickname': 'Hamsters',
   'owners': ['{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}']},
  {'abbrev': 'KOGA',
   'id': 11,
   'location': 'The Bar Mitzvah',
   'nickname': 'Snowball Boners',
   'owners': ['{F570025D-D594-4A8B-B4EB-ABDC9F4F892D}']},
  {'abbrev': 'WSOX',
   'id': 12,
   'location': 'CROWN',
   'nickname': 'US',
   'owners': ['{52D81102-758F-4AC0-8A7C-1FAE1B504238}']}]}

In [6]:
#Putting teams data into a dataframe
# for team in teams_info["teams"]:
#     print(team)
    
teams_lst = [team for team in teams_info["teams"]]
teams_df = pd.DataFrame(teams_lst)
teams_df["owners"] = teams_df["owners"].str[0]
teams_df

,abbrev,id,location,nickname,owners
0,ZWIC,1,Kevan,Barlow,{B815DE56-C961-43F8-B904-B82DC95C4F39}
1,TRES,2,That's,My Bush,{5D23DE4F-0131-46D4-B332-8AFFBBE4E4DB}
2,BOOB,3,Earlravius,Nellums,{1C427F2E-81A6-461B-97D4-E9631B6B92BD}
3,KLEI,5,Team,Klein,{05A6DF7E-1741-4FDD-B375-419DEE85EC2D}
4,WOAH,6,Lord,Rosenberg,{A48B1E1D-476B-4877-AE6F-61EA9BEC38AC}
5,KATZ,7,Sippin' on some,Cruzan,{50788F32-880C-424E-A4B2-8559A9870D3B}
6,STEI,8,Kogan is a Dog,Shit Lawyer...,{7D508B60-CD5E-4118-85D4-9A72AA063395}
7,BERK,9,The Muscle,Hamsters,{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}
8,KOGA,11,The Bar Mitzvah,Snowball Boners,{F570025D-D594-4A8B-B4EB-ABDC9F4F892D}
9,WSOX,12,CROWN,US,{52D81102-758F-4AC0-8A7C-1FAE1B504238}

In [7]:
members_lst = [member for member in teams_info["members"]]
members_df = pd.DataFrame(members_lst)
members_df.columns = ["displayName", "owners", "isLeagueManager"]
members_df

     displayName                                  owners  isLeagueManager
0      sklein414  {05A6DF7E-1741-4FDD-B375-419DEE85EC2D}            False
1       JBerko11  {0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}             True
2        Lirtz18  {1C427F2E-81A6-461B-97D4-E9631B6B92BD}            False
3       Greg6354  {50788F32-880C-424E-A4B2-8559A9870D3B}            False
4       brad2186  {52D81102-758F-4AC0-8A7C-1FAE1B504238}            False
5         aet015  {5D23DE4F-0131-46D4-B332-8AFFBBE4E4DB}            False
6     pokeystein  {7D508B60-CD5E-4118-85D4-9A72AA063395}            False
7  jrosenberg703  {A48B1E1D-476B-4877-AE6F-61EA9BEC38AC}            False
8       TheZwick  {B815DE56-C961-43F8-B904-B82DC95C4F39}            False
9         kogan4  {F570025D-D594-4A8B-B4EB-ABDC9F4F892D}            False

In [8]:
teams_df = teams_df.merge(members_df, on="owners")
teams_df

,abbrev,id,location,nickname,owners,displayName,isLeagueManager
0,ZWIC,1,Kevan,Barlow,{B815DE56-C961-43F8-B904-B82DC95C4F39},TheZwick,False
1,TRES,2,That's,My Bush,{5D23DE4F-0131-46D4-B332-8AFFBBE4E4DB},aet015,False
2,BOOB,3,Earlravius,Nellums,{1C427F2E-81A6-461B-97D4-E9631B6B92BD},Lirtz18,False
3,KLEI,5,Team,Klein,{05A6DF7E-1741-4FDD-B375-419DEE85EC2D},sklein414,False
4,WOAH,6,Lord,Rosenberg,{A48B1E1D-476B-4877-AE6F-61EA9BEC38AC},jrosenberg703,False
5,KATZ,7,Sippin' on some,Cruzan,{50788F32-880C-424E-A4B2-8559A9870D3B},Greg6354,False
6,STEI,8,Kogan is a Dog,Shit Lawyer...,{7D508B60-CD5E-4118-85D4-9A72AA063395},pokeystein,False
7,BERK,9,The Muscle,Hamsters,{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9},JBerko11,True
8,KOGA,11,The Bar Mitzvah,Snowball Boners,{F570025D-D594-4A8B-B4EB-ABDC9F4F892D},kogan4,False
9,WSOX,12,CROWN,US,{52D81102-758F-4AC0-8A7C-1FAE1B504238},brad2186,False

In [10]:
teams_df = teams_df.drop("isLeagueManager", axis=1)
teams_df

,abbrev,id,location,nickname,owners,displayName
0,ZWIC,1,Kevan,Barlow,{B815DE56-C961-43F8-B904-B82DC95C4F39},TheZwick
1,TRES,2,That's,My Bush,{5D23DE4F-0131-46D4-B332-8AFFBBE4E4DB},aet015
2,BOOB,3,Earlravius,Nellums,{1C427F2E-81A6-461B-97D4-E9631B6B92BD},Lirtz18
3,KLEI,5,Team,Klein,{05A6DF7E-1741-4FDD-B375-419DEE85EC2D},sklein414
4,WOAH,6,Lord,Rosenberg,{A48B1E1D-476B-4877-AE6F-61EA9BEC38AC},jrosenberg703
5,KATZ,7,Sippin' on some,Cruzan,{50788F32-880C-424E-A4B2-8559A9870D3B},Greg6354
6,STEI,8,Kogan is a Dog,Shit Lawyer...,{7D508B60-CD5E-4118-85D4-9A72AA063395},pokeystein
7,BERK,9,The Muscle,Hamsters,{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9},JBerko11
8,KOGA,11,The Bar Mitzvah,Snowball Boners,{F570025D-D594-4A8B-B4EB-ABDC9F4F892D},kogan4
9,WSOX,12,CROWN,US,{52D81102-758F-4AC0-8A7C-1FAE1B504238},brad2186

In [11]:
#Pulling mMatchup data
r = requests.get(url, cookies={"swid": swid, "espn_s2": espn_s2}, params={"view": "mMatchup"})

matchup_json = r.json()[0]

In [16]:
game_lst = [[game['matchupPeriodId'],
            game['home']['teamId'], game['home']['totalPoints'],
            game['away']['teamId'], game['away']['totalPoints']
           ] for game in matchup_json['schedule']]

games_df = pd.DataFrame(game_lst, columns=['Week', 'Team1', 'Score1', 'Team2', 'Score2'])
games_df["Type"] = ["Regular" if w <=14 else "Playoff" for w in games_df["Week"]]
games_df.head()

   Week  Team1  Score1  Team2  Score2     Type
0     1      2  143.40      1  146.60  Regular
1     1     12  146.46      3  107.60  Regular
2     1     11  118.46      5  140.56  Regular
3     1      9  139.98      6  128.00  Regular
4     1      8  126.36      7  131.32  Regular

In [20]:
games_df["Winner"] = np.where(games_df["Score1"] > games_df["Score2"], games_df["Team1"], games_df["Team2"])
games_df.head()

   Week  Team1  Score1  Team2  Score2     Type  Winner
0     1      2  143.40      1  146.60  Regular       1
1     1     12  146.46      3  107.60  Regular      12
2     1     11  118.46      5  140.56  Regular       5
3     1      9  139.98      6  128.00  Regular       9
4     1      8  126.36      7  131.32  Regular       7